# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Mac system files
.DS_Store

# Coverage directory
coverage/

# Editor settings
.vscode/
.idea/
